{% extends 'users/base.html' %}

{% block body-block %}
{% for message in messages %}
        <p id="message-{{ message.tags }}">{{ message }}</p>
{% endfor %}
<div class="row">
    {% for movie in movies %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ movie.image.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ movie.name}}</h5>
          <p class="card-text">{{ movie.description }}</p>
        </div>
      </div>
    {% endfor %}
</div>

<di class="row">
  <div class="col" style="padding-top: 5%;">
      <h5 class="card-header">You can upload posters here for your favorite movies.</h5>
          <a href="{% url 'upload-poster' %}" class="col-md-4 btn btn-dark">Upload Poster</a>
  </div>

  <div class="col" style="padding-top: 5%;">
    <h5 class="card-header">You can add movie Here.</h5>
        <a href="{% url 'add' %}" class="col-md-4 btn btn-dark">add Movie</a>
  </div>

</div>

{% endblock %}