{% extends 'users/base.html' %}
<style>

</style>
{% block body-block %}
    <div id="div1">
        <h2>Change Your Password</h2>
            {% if form.errors %}
                {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            {% endif %}
        <form method="POST">
            {% csrf_token %}
            <label>Old Password</label>
            <input type="password" name="old_password" placeholder="Old Password"/><br><br>
            <label>New Password</label>
            <input type="password" name="new_password1" placeholder="New Password"/><br><br>
            <label>New Password Confirmation</label>
            <input type="password" name="new_password2" placeholder="Confirm New Password"/><br><br>
            <button type="submit" class="col-md-12 btn btn-dark" id="reset">Update Password</button>
        </form>
    </div>
{% endblock %}