{% extends 'users/base.html' %}
<style>

</style>
{% block body-block %}
<div id="div1">
<form method="POST" action="">
    <h1>Register Here</h1>
    {% csrf_token %}
    {% for field in form %}
            <p>{{ field.errors }}</p>
            <p style="font-weight: bold;">{{ field.label }} {{ field }}</p>
            {% if field.help_text %}
                <p>{{ field.help_text|safe }}</p>
            {% endif %}
    {% endfor %}

    <input type="submit" name="Create User" value="Submit">
    <p>If you already have an account login <a href="{% url 'login'  %}">here</a>.</p>
</form>
</div>
{% endblock %}